<p>Hello {{customerName}} 👋</p>
<p>You have successfully made a reservation for table no {{tableNo}} on {{restaurantName}}.</p>
<p>Don't forget to be on time.</p>

<br />
<p>Happy Eating,</p>
<br />
<p>Dev Team.</p>
